<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>Servlet.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuarios</servlet-name>
        <servlet-class>Servlet.RegistrarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>textReg</servlet-name>
        <servlet-class>Servlet.textReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaisController</servlet-name>
        <servlet-class>Servlet.PaisController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarUsuarios</servlet-name>
        <servlet-class>Servlet.GuardarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarCliente</servlet-name>
        <servlet-class>Servlet.RegistrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarCliente</servlet-name>
        <servlet-class>Servlet.GuardarCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/InicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuarios</servlet-name>
        <url-pattern>/RegistrarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>textReg</servlet-name>
        <url-pattern>/textReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaisController</servlet-name>
        <url-pattern>/PaisController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarUsuarios</servlet-name>
        <url-pattern>/GuardarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarCliente</servlet-name>
        <url-pattern>/RegistrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarCliente</servlet-name>
        <url-pattern>/GuardarCliente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
